<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="/app/assets/stylesheets/Seedday.css"/>
<%= image_tag("start.png",:style=>"display:block;margin-left:auto;margin-right:auto",:class=>"mt50") %>
<div class="tc">
    <p>
        참여해주셔서<br>
        감사합니다.<br>
        <br>
        당신의 작은 시작<br>
        씨드데이가 응원합니다.
    </p>
    
    <input class="d_btn mt20" type="button" value="창 닫기" onClick="self.close()">
    

    
</div>

<%= image_tag("seedday.png",:style=>"display:block;margin-left:auto;margin-right:auto") %>





