
<div id="grayback" style="background-color:#000000;opacity:0;height:100%;width:100%;position:absolute;z-index:-2"> </div>

<div class="submitwrap ctc">
    <div style="position:relative">
        <%= image_tag("small tree.png",:style=>"position:absolute;top:-34px;left:154px;") %> 
        <%= image_tag("large tree.png",:style=>"position:absolute;top:-53px;right:22px;") %> 
        <%= image_tag("small cloud.png",:style=>"position:absolute;top:-120px;left:90px;z-index:1") %> 
        <%= image_tag("large cloud.png",:style=>"position:absolute;top:-90px;right:108px;z-index:1") %> 
        <div class="verticalline" style="position:absolute;left:126px;top:-1002px;"></div>
        <div class="verticalline2"style="position:absolute;right:126px;top:-1002px;"></div>
        <div class="smalldots" style="position:absolute;left:160px;top:-100px"></div>
        <div class="smalldots" style="position:absolute;left:0px;top:-150px"></div>
        <div class="smalldots" style="position:absolute;left:300px;top:-40px"></div>
        <div class="smalldots" style="position:absolute;right:0px;top:-50px"></div>
        <div class="smalldots" style="position:absolute;right:50px;top:-120px"></div>
    </div>
    <p class="endtext1">
        허브키우기 KIT배송마감
    <p>

    <p class="endtext2">
      준비한 5천개의 작은 씨앗이 모두 주인을 만났습니다.<br>
      참여해주셔서 감사드리며, 당신의 작은 시작은<br>
      이제부터가 진짜 시작입니다.
    </p>
    <input class="finbtn" style="width:200px" type="button" value="창닫기" onClick="popupoff()">
</div> 

<script>
    $(document).ready(function(){ 
        myInterval();
    });
    function myInterval(){ 
        timerId = setInterval("changeop()",75); 
    } 
    var a = 0;
    function changeop(){ 
        $('#grayback').css({ 
            "opacity": (a/2)*8/5 
        }) 

        a= a+0.10; 
             
        if(a>1){ 
            clearInterval(timerId); 
            $('.submitwrap').addClass("on");
            var temp2 = $('.submitwrap').outerWidth();
            $('.submitwrap').css({
                "margin-left":-temp2/2
            })
            timerId2 = setInterval("changesub()",10);
        } 
             
    } 
     var b = 0.0;
    function changesub(){
         $('.submitwrap').css({
             "top": b+"%"
         });
             b = b+2;
         if(b>50){
                 clearInterval(timerId2);
         }
     }
     function popupoff(){
        timerId3 = setInterval("changesub2()",10);
     }
     var graybackOpa = 0.8; 
     
     function changesub2(){
         $('.submitwrap').css({
             "top":b+"%"
         })
         $('#grayback').css({
             "opacity": graybackOpa
         })
         if(graybackOpa>0){
             graybackOpa = graybackOpa-0.05;
         }
         b=b-2;
         if(b<-10){
             clearInterval(timerId3);
            $('.submitwrap').removeClass("on");

         }
     }
</script>